.card {
  @include media-query('tablet') { flex-direction: row; }

  display: flex;
  flex-direction: column;
  margin: 1rem 0;

  h3 {
    color: var(--primary-color-ligher);
    margin: .5rem .5rem 0;
  }

  h4 {
    color: var(--secondary-color-lighter);
    font-family: 'Teko';
    font-size: .65rem;
    font-weight: lighter;
    margin: 0 .5rem;
  }

  &:not(:first-child) {
    margin-top: 8rem;
  }

  @at-root #{&}--alt {
    @include media-query('tablet') { flex-direction: row-reverse; }

    .card__header {
      h3,
      h4 {
        @include media-query('tablet') { text-align: right; }
        text-align: left;
      }
    }
  }

  @at-root #{&}__header {
    @include media-query('tablet') { width: 50%; }

    box-shadow: .25rem .25rem 1rem var(--primary-color-darkest, darken($primary-color, 40%));
    height: calc(10rem + 10vw);
    overflow: hidden;
    position: relative;
  }

  @at-root #{&}__body {
    @include media-query('tablet') { width: 50%; }
    padding: 1rem;
    width: 100%;

    section {
      margin-top: 1rem;
    }

    ul {
      font-size: .75rem;
      margin-top: 0;
    }
  }

  @at-root #{&}__quote {
    margin-top: 1rem;
    max-width: 75vw;
  }
}
