.featured {
  @include media-query('mobile-s') { grid-template-columns: repeat(1, 1fr); }
  @include media-query('mobile-m') { grid-template-columns: repeat(1, 1fr); }
  @include media-query('mobile-l') { grid-template-columns: repeat(2, 1fr); }
  @include media-query('tablet') { grid-template-columns: repeat(2, 1fr); }
  @include media-query('laptop-s') { grid-template-columns: repeat(3, 1fr); }
  @include media-query('laptop-m') { grid-template-columns: repeat(3, 1fr); }
  @include media-query('laptop-l') { grid-template-columns: repeat(3, 1fr); }
  @include media-query('4k') { grid-template-columns: repeat(4, 1fr); }

  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem;

  @at-root #{&}__item {
    background-size: cover;
    box-shadow: .25rem .25rem 1rem var(--primary-color-darkest);
    display: flex;
    flex-direction: column;
    min-height: calc(8rem + 8vw);
    overflow: hidden;
    padding: .5rem;
    position: relative;
    text-decoration: none;
  }
  @at-root #{&}__item--title {
    justify-content: flex-start;
  }
  @at-root #{&}__item--subtitle {
    color: saturate(lighten(complement($primary-color), 15%), 25%);
    font-family: "Teko";
    font-weight: 100;
    justify-content: flex-start;
  }
  @at-root #{&}__item--date {
    align-self: flex-end;
    justify-content: space-between;
    margin-top: auto;
    // text-shadow: 2px 3px 4px #000000;
  }
}
