.home {
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  padding: 0 1rem;

  &__headline {
    color: saturate(lighten(complement($primary-color), 20%), 25%);
    font-family: 'Sarpanch';
    margin-left: auto;
    margin-right: auto;

    span {
      text-shadow: 2px 3px 4px #000000, 3px 4px 16px #000000;
    }
  }
}
