<section class="card {% cycle '', 'card--alt' %}" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="card__header gradient-overlay">
    {% if include.lazy == true %}
      <img class="image image__blur image--lazyload" data-src="{{ site.baseurl }}{{ include.data.images[0].src }}">
    {% else %}
      <img class="image image__blur" src="{{ site.baseurl }}{{ include.data.images[0].src }}">
    {% endif %}
    <h3 class="animated-headline fit__text" itemprop="name headline">{{ include.data.title | escape }}</h3>
    <h4>{{ include.data.date }}</h4>
    <section class="image__list--fixed{% cycle '-right', '-left' %}">
      {% for image in include.data.images %}
      {% if include.lazy == true %}
        <img class="image image__thumb image--lazyload" data-src="{{ site.baseurl }}{{ image.src }}" alt="{{ image.alt }}">
      {% else %}
        <img class="image image__thumb" src="{{ site.baseurl }}{{ image.src }}" alt="{{ image.alt }}">
      {% endif %}
      {% endfor %}
    </section>
  </header>
  <section class="card__body">
    <p>{{ include.data.description }}</p>
    <br/>
    <ul>
      {% for tag in include.data.tags %}
        <li>{{ tag }}</li>
      {% endfor %}
    </ul>
    {% for link in include.data.links %}
      <div>
        <a href="{{ link.url }}">{{ link.name }}</a>
      </div>
    {% endfor %}
  </section>
</section>
{% if include.data.quote %}
<blockquote class="card__quote">
  {{ include.data.quote }}
</blockquote>
{% endif %}
