// Variables

// $container-width: 1200px;
$container-padding: 30px;

$primary-color: #208cdf;
$text-color: #eee;
$link-color: #68abde;

$font-xl: 96px;
$font-md: 24px;
$font-sm: 18px;
$font-xs: 16px;

$system-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$primary-font-family: $system-font-family;

@font-face {
  font-family: 'Ranchers';
  font-style: normal;
  font-weight: 400;
  src: local('Ranchers'), local('Ranchers-Regular'), url(https://fonts.gstatic.com/s/ranchers/v6/zrfm0H3Lx-P2Xvs2ArDfBi8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// Mixin

@mixin container($padding) {
  // max-width: $container-width;
  padding: 0 $padding;
  margin: auto;
}


// Global

body {
  font-family: $primary-font-family;
  color: $text-color;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

main {
  flex: 1;
  width: 100%;
}

a {
  color: $link-color;
  text-decoration: none;
  font-size: $font-sm;

  &:hover {
    color: lighten($primary-color, 20%);
  }
}


// Shared

.button {
  display: inline-block;
  border: 1px solid lighten($link-color, 40%);
  border-radius: 50px;
  padding: 15px 30px;
  font-weight: 300;

  &:hover {
    background-color: lighten($link-color, 49%);
  }
}

.accent {
  color: #ee2224;
  display: inline-block;
}


// Components & pages

.navigation {

  @include container($container-padding);
  flex: 1;
  width: 100%;
  padding: 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;

  padding-bottom: 10px;
  // border-bottom: 1px solid lighten($link-color, 40%);

  &__branding {
      display: flex;
      align-items: center;
      padding-left: $container-padding;
  }

  &__title {
    color: $text-color !important;
    font-size: $font-md;
    font-weight: 500;
  }

  &__logo {
    margin-right: 10px;
  }

  &__logo-img {
    height: 40px;
    width: 40px;
  }

  &__links {
    display: flex;
    flex-direction: row;
    padding-right: $container-padding;
  }

  &__link {
    margin-left: 30px;
    font-size: $font-xs;

    &--active {
      color: $primary-color;
    }
  }

}

.home {

  @include container($container-padding);

  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;


  &__headline-container {
    padding: 0 $container-padding;
  }

  &__headline {
    color: saturate(lighten(complement($primary-color), 15%), 25%);
    font-family: 'Ranchers';
    font-size: $font-xl;
    letter-spacing: 4px;
    span {
      display: inline-block;
      text-shadow: 2px 3px 4px #000000, 3px 4px 16px #000000;
    }
  }
}


.page {

  @include container($container-padding);
  margin-top: 60px;

  &__header {
    padding: 0 $container-padding;
  }


  &__content {
    padding: 0 $container-padding;
  }
}

.blog {
  @include container($container-padding);
  margin-top: 60px;


  &__post {

    padding: 0 $container-padding;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid lighten($link-color, 40%);

    @media (max-width: 900px) {
      flex-direction: column;
    }

    &:first-child {
      padding-top: 10px;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__date {
    padding-top: 15px;
    width: 30%;
    color: $link-color;
  }

  &__content {
    width: 100%;
  }


  &__link {
    &:hover {
      color: $link-color;
    }
  }

  &__title {
    color: $text-color;
    font-size: $font-md;
    padding-top: 0;
  }

  &__excerpt {
    color: $link-color;
  }
}


.post {

  @include container($container-padding);
  margin-top: 80px;


  &__container {
    padding: 0 $container-padding;
  }

  &__meta {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid lighten($link-color, 40%);
  }

}


.footer {
  // border-top: 1px solid lighten($link-color, 40%);
  padding: 30px 0;
  margin-top: 80px;

  &__container {
    @include container($container-padding);
    color: $link-color;
  }

  &__logo-img {
    margin: 0 1rem;
    width: 128px;
    filter: drop-shadow(2px 3px 4px #000000);
  }

}
