---
layout: post
image: /assets/images/backgrounds/roadSunsetMountains.svg
header-image: /assets/images/backgrounds/roadSunsetMountains.svg
title: Development History
subtitle: Old School
date: 2019-03-14T00:00:00.000Z
tags: Featured Programming Professional Portfolio
category: [ About ]
---
{% for work in site.data.history %}
  {% if forloop.first == true %}
    {% include work-item.html data=work lazy=false %}
  {% else %}
    {% include work-item.html data=work lazy=true %}
  {% endif %}
{% endfor %}
