---
layout: post
image: /assets/images/backgrounds/filesOnAShelf.svg
header-image: /assets/images/backgrounds/filesOnAShelf.svg
title: Development Portfolio
subtitle: Professional Experience Points
date: 2019-3-15T00:00:00.000Z
tags: Featured Programming Professional Portfolio
category: [ About ]
---
{% for work in site.data.portfolio %}
  {% if forloop.first == true %}
    {% include work-item.html data=work lazy=false %}
  {% else %}
    {% include work-item.html data=work lazy=true %}
  {% endif %}
{% endfor %}
