---
layout: default
---
<section class="blog">
  {% for post in site.posts %}
  <article class="blog__post">
    <div class="blog__content">
      <a class="blog__link" href="{{ post.url | relative_url }}">
        {%- if post.image -%}
        <img class="image image--lazyload" data-src="{{ site.baseurl }}{{ post.image }}" alt="alt">
        {%- endif -%}
        <h2 class="blog__title animated-headline">{{ post.title | escape }}</h2>
        <h3 class="blog__subtitle animated-headline">{{ post.subtitle | escape }}</h3>
        <div class="blog__date">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <p>{{ post.date | date: date_format }}</p>
        </div>
      </a>
    </div>
  </article>
  {% endfor %}
</section>
