---
layout: default
---
<div class="home">
  <h1 class="home__headline animated-headline fit__text--fat" style="font-size: 8vw">Russell Chapman</h1>
</div>

<section class="featured">
  {% for post in site.posts %}
    {% for tag in post.tags %}
      {% if tag == "Featured" %}
        <a class="featured__item" href="{{ post.url | relative_url }}"
          style="background-image: url({{ site.baseurl }}{{ post.image }})">
          <h2 class="featured__item--title animated-headline fit__text">{{ post.title | escape }}</h2>
          <h3 class="featured__item--subtitle animated-headline">{{ post.subtitle | escape }}</h3>
          {% if post.layout == "post" %}
          {% assign date_format = "%b %d, %Y" %}
          <time class="featured__item--date header__date" datetime="{{ post.date | date: date_format }}">
            {{ post.date | date: date_format }}
          </time>
          {% else %}
          <time class="featured__item--date header__date">Category</time>
          {% endif %}
        </a>
      {% endif %}
    {% endfor %}
  {% endfor %}
</section>
